<div class="row">
    <div class="col-xs-12">
        <!-- [routerLink]="['/recipes', 'new']" -->
        <button class="btn btn-success" (click)="onNewRecipe()" >New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <!-- [recipe] is the recipe property in app-recipe-item component -->
        <!-- dont need this because of services: (recipeSelected)="onRecipeSelected(recipeElement)" -->
        <app-recipe-item *ngFor="let recipeElement of recipes, let i = index" [recipe]="recipeElement" [index]="i"></app-recipe-item>
    </div>
</div>

